Qt/build-Editor-Desktop_Qt_5_3_clang_64bit-Debug/Editor.app/Contents/Info.plist
Qt/build-Editor-Desktop_Qt_5_3_clang_64bit-Debug/Editor.app/Contents/PkgInfo
Qt/build-Editor-Desktop_Qt_5_3_clang_64bit-Debug/Editor.app/Contents/MacOS/Editor
Qt/build-Editor-Desktop_Qt_5_3_clang_64bit-Debug/Editor.app/Contents/Resources/empty.lproj
